<!DOCTYPE html>
<html lang="es">
<head>
  
  <title>Iniciar Sesión</title>

  <link rel="icon" type="image/png" href="{{url_for('static', filename='icon/Logo.png')}}">
  <link  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link  type="text/css" href="{{url_for('static', filename='css/overhang.min.css')}}" />
  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="">
  <meta name="author" content="">
  
</head>

<body>

<br></br>
</br>

<!-- Navbar -->

<div>
  <nav class="navbar navbar-light navbar-expand-lg fixed-top" style="background-color: #47a5b4;">
    <a href="/" class="navbar-brand" >
      <img src="{{url_for('static', filename='icon/Logo.png')}}" width="40" height="40" alt="HSD PLUS"></a>
      <a href="/" class="navbar-brand" style="color: #ffffff;">HSD PLUS</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"></ul>
      </div>
    </a>
  </nav>
</div>

<!--Inicio de sesión estructura-->



<script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/overhang.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/app.js')}}"></script>

</body>
</html>
